{% extends '_base.html' %}

{% block title %} 
    {% if user.is_authenticated %}
        {{user.username}}
    {% else %}
        Profile 
    {% endif %}
{%endblock title %}

{% block content %}
  <div class="d-flex justify-content-center">
    <div class="mb-3 w-100">
      <div class="card-header bg-transparent "><h3>{{user.username}}</h3></div>
      <div class="card-body">
        <p class="card-text">  
          {% if user.bio %}
          {{user.bio}}
          <br>
          {% endif %}
        </p>
      </div>
      <div class="card-footer bg-transparent">
        <a href="{% url 'edit_profile' user.id %}" > Edit profile </a>
        <br>
        <a href="{% url 'logout' %}">Logout </a>
        <hr>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-center">
    <a class="mb-3" href="{% url 'add_book' %}"> Add New Book</a>
  </div>

  {% if not books %}
    <div class="d-flex justify-content-center">
      <h4>There is no book in this profile</h4>
    </div>
  {% else %}
    {% include '_pagination.html' %}
    {% include '_post_card.html' %}
  {% endif %} 

{% endblock content %}