{% extends '_base.html' %}
 {% block title %} {{profile_user.username}} {%endblock title %}
 {% block content %}


 <div class="d-flex justify-content-center">

  <div class="mb-3"  style="max-width: 540px; min-width: 540px;">
    <div class="card-header bg-transparent "><h3>{{user.username}}</h3></div>
    <div class="card-body">
      <p class="card-text">  
        {% if user.bio %}
        {{user.bio}}
        <br>
        {% endif %}
      </p>
    </div>
    <div class="card-footer bg-transparent">
    </div>
  </div>
</div>


 {% if not books %}
 <div class="d-flex justify-content-center">
  <h4>There is no book in this profile</h4>
 </div>
  {% else %}

    {% include '_pagination.html' %}
    {% include '_post_card.html' %}

  {% endif %} 

{% endblock content %}
