[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
mysqlclient = "*"
django-crispy-forms = "*"
django-allauth = "*"
pillow = "*"
crispy-bootstrap5 = "*"
django-debug-toolbar = "*"
pypdf2 = "*"
pymupdf = "*"

[dev-packages]

[requires]
python_version = "3.10"
