{% load static %}
{% for book in books %}
<div class="d-flex justify-content-center">
    <div class="card mb-3 w-100" >
      
      <div class= "card-header">
        <div class="row">
          <div class=" col-4 d-flex justify-content-start">
            <h5 class="card-text text-truncate"><a href="{% url 'user_profile' book.user.username %}" >{{book.user.username}}</a></h5>
          </div>
    
          <div class="col-4 d-flex justify-content-center">
            <h6 class="card-text"> <small class="text-muted"> {{book.posted_at|date:"d/F/Y"}} </small> </h6>
          </div>
    
          <div class="col-4 d-flex justify-content-end">
            {% if book.user == user %}
            <div class="dropdown">
              <i class="bi bi-three-dots-vertical" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              </i>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="{% url 'book_edit' book.id %}">Edit</a></li>
                <li><a class="dropdown-item" href="{% url 'book_delete' book.id %}">Delete</a></li>
                {% if book.is_visible %}
                <li><a class="dropdown-item" href="{% url 'book_visibility' book.id %}">Private</a></li>
                {% else %}
                <li><a class="dropdown-item" href="{% url 'book_visibility' book.id %}">Public</a></li>
                {% endif %}
              </ul>
            </div>
            {% else %}
            <a href="{% url 'add_book_to_fav' book.id %}" class= "bi bi-heart link-dark"> </a>
            {% endif %}
          </div>
        </div>
      </div>
  
      <div class="card-body">
        <div class="row g-0">
          <div class="col-4">
           
            <img  class="w-75" src="/{{book.cover_url}}" />
           
          </div>
          <div class="col-8">       
          
              <h5 class=" card-text" >{{book.title}}</h5>
              {% if book.author %}
                <h6 class="card-text">  {{book.author}} </h6>
              {% endif %} 
              {% if book.pages %}
                <h6 class="card-text"> <small class="text-muted">pages: {{book.pages}} </small> </h6>
              {% endif %}
              
              <h6 class="card-text"> <a href="{{book.pdf.url}}" download class= "btn btn-success bi bi-download">     {{book.size}} </a> </h6>
      
          </div>
        </div>
      </div>
    </div>
  </div>

  {% endfor %}